:root{
  --main-color:#4AA1B3;
  --second-color:#032830;
  --rare-color: #FFA500;
  --transition: 0.5s ease-in-out;
}
body{
  background-color: var(--second-color);
  cursor: default;
}
.item-width p{
  width: max-content;
}
.cursor-pointer{
  cursor: pointer;
}
.bg-rare{
  background-color: var(--rare-color);
}
.bg-main{
  background-color: var(--main-color);
}
.bg-second{
  background-color: var(--second-color);
}
.color-main{
  color: var(--main-color);
}
.color-second{
  color: var(--second-color);
}
.color-rare{
  color: var(--rare-color);
}

.custom-btn{
  background-color: var(--second-color);
  color: var(--main-color);
  transition: var(--transition);
  cursor: pointer;
}
.custom-btn:hover{
  border: 1px solid var(--second-color);
  background-color: var(--main-color);
  color: var(--second-color);
}


.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  height: 8vh;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  color: var(--main-color);
  background-color: var(--second-color);
  transition: 0.5s ease-in-out;
}
.header i{
  font-size: 30px;
}
.header:hover {
  gap: 45px;
}

.header-title{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
